# Python
__pycache__/
*.py[cod]
*.so

# Environments
.env
.venv/
env/
venv/

# Data & Models 
data/**/*.npz
data/**/*.csv
*.pth
*.pt
*.pkl

# IDEs
.vscode/
.idea/
.DS_Store

# --- Jupyter Notebook ---
.ipynb_checkpoints/